body{
  background-image:  url('images/A.png');
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 微軟正黑體;
}

.container{
  background-color: white;
}

#shop_head{
  margin-bottom: 15px;
}

#shop_main{
  min-height: 200px;
}

#shop_foot{
 background-color: rgba(7, 211, 0, 0.822);
 color: #fff;
 padding: 30px;
 line-height: 1.8;
 margin: 15px 0px;
}
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #ddd; /*背景星星顏色*/
  overflow: hidden;
  font-size: 20px; /*調整字體大小可放大縮小星星*/
  text-shadow: 0px 1px 0 #999;
  }
  .full_star {
  width: 80%; /*調整寬度可變更星等*/
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #D56A16; /*前景星星顏色*/
  }
#tex{
  margin-top: 15px;
  height: 60px;
  width: 300px;
}
#bois{
  background-image:  url('images/bonito.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 微軟正黑體;
}